body {
    font-size: 15px;
    font-family: Helvetica, Arial, 'sans-serif';
}
header {
    width: 100%;
    padding: 10px 0;
    overflow: auto;
}
p {
    padding: 5px 0;
}
#logo {
    background: #eee;
    border: 1px solid #ccc;
    float: left;
    color: #666;
    font-size: 30px;
    width: 200px;
}
nav li {
    float: left;
}
nav li a {
    text-decoration: none;
    color: #ccc;
    display: block;
    padding: 3px 15px;
}
.inner {
    margin-top: 300px;
}
.container {
    position: relative;
    /*z-index: 1;*/
}
.inner {
    background: white;
    border: 1px solid #777;
    width: 80%;
    margin: 200px auto;
}

/* bgparallax layers style */
#bgp-container {
    text-align: center;
}
#layer1 {
    left: 0;
    top: 0;
}